<!DOCTYPE html>

<div id="listTab" class="container fillpad " ng-hide="detailActive">
    <div class='list-group'>
        <div ng-repeat='opp in opportunities' ng-click='listClick($event, opp)' class='list-group-item'>
            <h4 class="blue-font list-group-item-heading"><strong>{{opp.title}}</strong></h4>
            <p class="black-font list-group-item-text"
               ><strong>{{formatDate(opp.startDate)}} - {{formatDate(opp.endDate)}}</strong></p>
            <p class="black-font list-group-item-text"
               >{{opp.city + ', ' + 
                    opp.region.toUpperCase() + ' ' + opp.postalCode}}</p>
        </div>
    </div>
</div>

<div id="detailTab" class="container list-group" ng-show="detailActive">
    <div class='list-group blue-font' style='margin-bottom: 5px'>
        <div class='list-group-item'>
            <h3 class='list-group-item-heading blue-font unselectable'
                        ><strong>{{selected.title}}</strong></h3>
            <p class='list-group-item-text black-font unselectable'
                        >{{selected.description}}...</p>
            <p class='list-group-item-text black-font unselectable text-capitalize'
               ><strong>Categories: </strong>{{formatTags(selected)}}</p>
        </div>
        <div class='list-group-item'>
            <h4 class='list-group-item-heading purple-font unselectable'
                    ><strong>Dates Available</strong></h4>
            <p class='list-group-item-text black-font unselectable'
                    >{{formatDate(selected.startDate)}} - {{formatDate(selected.endDate)}}</p>
        </div>
        <div class='list-group-item'>
            <h4 class='list-group-item-heading purple-font unselectable'
                    ><strong>Times Available</strong></h4>
            <p class='list-group-item-text black-font unselectable'>[TBD]</p>
        </div>
        <div class='list-group-item'>
            <a href="{{selected.sponsoringOrganizationUrl}}">
                <h4 class='list-group-item-heading purple-font unselectable'
                       ><strong>{{selected.sponsoringOrganizationName}}</strong></h4></a>
            <p class='list-group-item-text black-font unselectable'
                       >{{selected.location_name}}</p>
        </div>    </div>
   
    <!--
        latlong: "40.4974532,-80.0603445"
        skills[] skilledVolunteer
        categoryTags
        minAge
        availabilityDays
    -->
 </div>