<div id="searchTab" class="container-fluid">
    <div class="text-center title-wrapper">
        <h2 class="blue-font">Pittsburgh Cares</h2>
        <h4 class="black-font"><small>Fill in the fields below and hit</small></h4>
        <h4 class="black-font"><small>'Search' to find opportunities</small></h4>
    </div>
 
    <form name="frmSearch" role="form" id="frmSearch" method="GET">
        <div class="row col-xs-12">
            <jqx-combo-box ng-model="selectedTerm" class="form-control"
                        jqx-ng-model jqx-settings="termSettings"></jqx-combo-box>
        </div>

        <div class="row col-xs-12 top-buffer">
            <jqx-date-time-input ng-model="fromDate" class="form-control"
                        jqx-settings="dateInputSettings"></jqx-date-time-input>
        </div>
        
        <div class="row col-xs-12 top-buffer">
            <jqx-date-time-input ng-model="toDate" class="form-control"
                        jqx-settings="dateInputSettings"></jqx-date-time-input>
        </div>

        <div class="row top-buffer col-xs-12">
            <input type="text" class="form-control" ng-model='zipCode' 
                                    placeholder="Enter ZIP code">
        </div>
        
        <div class="row top-buffer col-xs-12">
            <jqx-combo-box ng-model="selectedDistance" class="form-control"
                        jqx-ng-model jqx-settings="distanceSettings"></jqx-combo-box>
        </div>
      
        <div class="row top-buffer">
            <div class="inner col-xs-offset-4 col-xs-4" 
                        style="margin-top: 15px; margin-bottom: 25px;">
                 <button id="go"  class="btn btn-primary form-control" ng-click='search()' type="submit">
                     Search<span class="glyphicon glyphicon-search" style="margin-left: 12px;"></span>
                 </button>
            </div>
        </div>
     </form> 
    
    <div id="footer" style="text-align: center;">
        <img class="unselectable" src="css/pghcareslogo.png" 
                    style="height: 25%; width: 25%; 
                    margin-top: 5px; margin-bottom: 5px;" 
                    alt="Pittsburgh Cares">
        <p class="black-font">3505 Butler St.</p>
        <p class="black-font">Pittsburgh, PA 15201</p>
        <p class="black-font">(412) 471-2114</p>
        <p class="black-font">&copy;2014 - All Rights Reserved</p>
    </div>
</div>


