<!DOCTYPE html>
<div id="searchTab" class="container-fluid">
    <div class="text-center title-wrapper">
        <h5 class="black-font" style="margin-top: 20px; margin-left: 40px; margin-right: 40px;">Fill in the fields below and hit 'Search' to find opportunities</h5>
    </div>
 
    <div class="row col-xs-12">
        <div class="input-group input-group-lg">
            <input type="text" data-ng-model="selectedCategory" class="form-control" 
                placeholder="Select a Category" name="categoryField" id="categoryField" />
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <ul role="menu" class="dropdown-menu scrollable-menu dropdown-menu-right">
                  <li ng-repeat="category in categories" ng-click="selectCategory(category)">
                      <a href="">{{category}}</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row col-xs-12 top-buffer">
        <div class="input-group input-group-lg">
            <input id="startDateField" type="text" class="form-control"
                   data-datepicker-popup='EEEE - MMMM dd, yyyy' data-ng-model="fromDate" 
                   data-is-open="isFromDateOpened" data-close-text="Close" 
                   datepicker-options='dateOptions'/> 
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-large" data-ng-click="fromDateOpen($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="row col-xs-12 top-buffer">
        <div class="input-group input-group-lg">
            <input id="startDateField" type="text" class="form-control"
                   data-datepicker-popup='EEEE - MMMM dd, yyyy' data-ng-model="toDate" 
                   data-is-open="isToDateOpened" data-close-text="Close" 
                   datepicker-options='dateOptions'/> 
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-large" data-ng-click="toDateOpen($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="row top-buffer col-xs-12 input-group-lg">
        <input type="text" class="form-control" ng-model='location' 
                                    placeholder="Enter ZIP code or Location">
    </div>
    
    <div class="row top-buffer col-xs-12">
        <div class="input-group input-group-lg">
            <input type="text" data-ng-model="selectedDistance" class="form-control"/> 
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                  <li ng-repeat="distance in distances" ng-click="selectDistance(distance)">
                      <a href="">{{distance}}</a>
                  </li>
                </ul>
            </div>
        </div>        
    </div>

    <div class="row top-buffer">
        <div class="inner col-xs-offset-4 col-xs-4" 
                    style="margin-top: 15px; margin-bottom: 25px;">
             <button id="go"  class="btn btn-primary btn-lg form-control" 
                     ng-click='go()' type="button">Search<span 
                     class="glyphicon glyphicon-search" 
                            style="margin-left: 12px; margin-top: 2px;"></span>
             </button>
        </div>
    </div>
    
    <div id="footer" class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-xs-4">
                <img class="unselectable img-thumbnail" style="border: 0; box-shadow: none;" 
                        src="css/pghcareslogo.png" alt="Pittsburgh Cares">
            </div>
            <div class="col-sm-1 col-xs-1"></div>
            <div class="col-sm-7 col-xs-7" style="margin-top: 18px;">
                <h3 class="black-font">Pittsburgh Cares</h3>
                <h4 class="black-font" style="margin: 5px 0;">3505 Butler St.</h4>
                <h4 class="black-font" style="margin: 5px 0;">Pittsburgh, PA 15201</h4>
                <h4 class="black-font" style="margin: 5px 0;">(412) 471-2114</h4>
                <h4 class="black-font" style="margin: 5px 0;">&copy;2015 - All Rights Reserved</h4>
            </div>
       </div>
    </div>
</div>


