<div id="searchTab" class="container-fluid">
    <div class="text-center title-wrapper">
        <h2 class="blue-font">Pittsburgh Cares</h2>
        <h4 class="black-font">Fill in the fields below and hit</h3>
        <h4 class="black-font"> 'Search' to find opportunities</h3>
        <div class='top-buffer'></div>
    </div>

    <form name="frmSearch" id="frmSearch" method="GET">
        <div class="row top-buffer">
            <div class="inner col-12" id="search">
                <input type="text" class="form-control">
<!--                <input type="text" class="form-control typeahead" 
                        ng-model="terms"
                        placeholder="Keyword or area of interest">-->
            </div>
        </div>
        <div class="row top-buffer">
            <div class="inner col-6">
                <input type="text" class="form-control">
<!--                <input type="text" class="form-control" 
                        data-provide="datepicker"
                        ng-model="fromDate"
                        id="from-date" placeholder="From this date">-->
            </div>
            <div class="inner col-6">
                <input type="text" class="form-control">
<!--                <input type="text" class="form-control" 
                        data-provide="datepicker"
                        ng-model="toDate"
                        id="to-date" placeholder="To this date">-->
            </div>
        </div>
        <div class="row top-buffer">
            <div class="inner col-6">
                <input type="text" class="form-control">
<!--                 <input type="text" class="form-control" 
                        ng-model="zip"
                        id="zip-code" placeholder="Enter ZIP code">-->
            </div>
            <div class="inner col-6">
                <input type="text" class="form-control">
<!--                <input type="text" class="form-control" 
                        ng-model="distance"
                        id="distance" placeholder="Distance">-->
            </div>
        </div>
        <div class="row top-buffer"></div>
        <div class="row top-buffer">
            <div class="inner offset-4 col-4" style="margin-top: 30px;">
                 <button id="go"  class="btn btn-primary form-control" ng-click='search()' type="submit">
                     Search<span class="glyphicon glyphicon-search" style="margin-left: 12px;"></span>
                 </button>
            </div>
        </div>
    </form>
    
    <div id="footer" style="text-align: center;">
        <img class="unselectable" src="css/pghcareslogo.png" 
                    style="height: 30%; width: 30%; margin-bottom: 20px;" 
                    alt="Pittsburgh Cares">
        <p class="black-font">3505 Butler St.</p>
        <p class="black-font">Pittsburgh, PA 15201</p>
        <p class="black-font">(412) 471-2114</p>
        <p class="black-font">&copy;2014 - All Rights Reserved</p>
    </div>
</div>


